[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "static/images"]
	path = static/images
	url = https://github.com/iniridwanul/Media.git
